.img-custom {
  width: 100px;        /* Ajuste la taille */
  border-radius: 20px; /* Arrondi plus fort */
  border: 2px solid #333;
}
.img-custom-large {
  width: 300px;        /* Ajuste la taille */
  border-radius: 20px; /* Arrondi plus fort */
  border: 2px solid #333;
}
.row {
  margin-bottom: 20px; /* Espace entre les lignes */
}
.form-container {
  margin-bottom: 30px; /* Espace entre les formulaires */
}
.btn-custom {
  background-color: #4CAF50; /* Vert */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn-custom:hover {
  background-color: #45a049; /* Vert foncé au survol */
}
body {
  background-color: #F5ECE1; /* Couleur de fond claire */
  font-family: Arial, sans-serif;
}
h1, h2, h3, h4, h5 {
  color: #343a40; /* Couleur de texte sombre pour les titres */
}
p, label {
  color: #495057; /* Couleur de texte sombre pour les paragraphes et labels */
}
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
  border-radius: 10px; /* Bords arrondis */
}
.btn-danger {
  background-color: #dc3545; /* Rouge */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn-danger:hover {
  background-color: #c82333; /* Rouge foncé au survol */
}

